{% extends "base.html" %}

{% block body %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <p>
            {{ form.username.label_tag }}
            {{ form.username }}
        </p>
        <p>
            {{ form.password.label_tag }}
            {{ form.password }}
        </p>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% else %}
            <input type="hidden" name="next" value="/portal/" />
        {% endif %}
        <input type="submit" value="login" />
    </form>
{% endblock %}