<h1> {{ question.question_text }}</h1>
{% for choice in question.choice_set.all %}
<label>
    {{ choice.choice_text }} : {{ choice.votes }} vote{{ choice.votes | pluralize }}
</label><br>
{% endfor %}
<a href="{% url 'polls:detail' question.id %}">vote again? </a>