<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    {% block head %} {% endblock %}
    <link rel="stylesheet" type="text/css"  href="{% static 'polls/style.css' %}" />

</head>
<body>
{% block body %} {% endblock %}
</body>
</html>