{% extends "base.html" %}
{% comment %} Main page of django_mysite.
{% endcomment %}
{% block head %}
<title> Django mysite </title>
{% endblock %}
{% block body %}
<header>
    <h1>Django mysite</h1>
    <section>
        <p>welcome to django mysite, click
        <a href="{% url 'portal:portal_welcome' %}">here</a>
            to log in our web portal
        </p>
    </section>
</header>
{% endblock %}