{% extends "portal/portal.html" %}
{% comment %} wlecome page portal {% endcomment %}
{% block title %} Welcome page {% endblock %}
{% block content %}
<section>
    <h2>Welcome {{ request.user.username | capfirst }}</h2>
    <p>this is the entry page of the portal </p>
</section>
{% endblock %}