{% extends "base.html" %}
{% comment %}
This is the main template for all portal pages.
{% endcomment %}
{% block head %}
<title>Web Portal | {% block title %}{% endblock %}</title>
{% endblock %}
{% block body %}
<header>
<h1> Django Mysite | Web Portal</h1>
</header>
<section>
    <ul>
        <li>
            <a href="/">Main page</a>
        </li>
        <li>
            <a href="{% url 'polls:index' %}"> Polls app</a>
        </li>
        <li><a href="{% url 'portal:contact' %}">Contact</a> </li>
        <li><a href="{% url 'portal:upload' %}">Upload files form</a></li>
        <li><a href="{% url 'logout_view' %}">Logout</a></li>

    </ul>
</section>
{% block content %}{% endblock %}
<footer>
    <span>&copy; 2019, Django</span>
</footer>
{% endblock %}